@()

@main("Aplicacion REST, Ejercicio 5-a") {
  <h1>Aplicacion REST usando Play Framework</h1>
  <h3>Para uso del GET con un lista: </h3> </br>
    <ul>
      <li><a href="http://localhost:9000/Map">http://localhost:9000/Map </a></li>
    </ul>
  <h3>Para traer un Objeto: </h3></br>
    <ol>
      <li>-Utilizar un API de desarrollo como Postman</li>
      <li>-Utilizar servicio de POST </li>
      <li>-En BODY elegir RAW e ingresarle un JSON</li>
      <li>-Ir a <a href="http://localhost:9000/catch">http://localhost:9000/catch </a> </li>
      <li>-Devolvera un Objeto con la informacion del JSON </li>
    </ol>
}
